{% extends 'base.html' %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

{% block content %}
<h5>Welcome to Golden Lion Properties</h5>
<h6>Latest Listings:</h6>

<div class="row">
    {% for property in properties %}
    <a href="{% url 'listing' property.id %}" class="listing-link">
        <div class="col s12 m6 l4">
            <div class="listing z-depth-1">
                <div class="img">
                    <img src="{{ property.image.url }}" alt="{{ property.name }} Image">
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col s12">
                            <p class="price">${{ property.price }}</p>
                            <p class="lighter-font">{{ property.bedrooms }} bd | {{ property.bathrooms }} ba | {{ property.sqft }} sqft - {{ property.status }}</p>
                            <p class="lighter-font">{{ property.address }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
    {% empty %}
    <p>No listings available.</p>
    {% endfor %}
</div>

{% endblock %}